{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="container-fluid">
            <div class="cnt">
                <div class="cntLogin mx-auto p-2 mt-3">
                    <h1 class="h3 mb-3 font-weight-normal text-center mt-4">Veuillez entrer vos identifiants :</h1>
                    <label for="inputEmail" class="mt-2">Email :</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2"
                           autocomplete="email"  required autofocus>
                    <label for="inputPassword" class="mt-2">Mot de passe :</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mt-2"
                           autocomplete="current-password"
                           required>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" class="mt-4" name="_remember_me"> Se rappeler de moi
                        </label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-lg btn-primary btnSize mt-2" type="submit">Connexion</button>
                        <a href="/register">
                            <button class="btn btn-lg btn-secondary btnSize mt-2" type="button">S'inscrire
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
